* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    color: lightcoral;
    background-color: mistyrose;
    font-family: "Helvetica", serif;
  }
h1 {
    max-width: fit-content;
    font-size: 60px;
    margin: 25px auto;
    margin-bottom: 50px;
  }
  h2 {
    max-width: fit-content;
    font-size: 25px;
    margin: 25px auto;
    margin-bottom: 50px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }
  a {
    color: palevioletred;
    text-decoration: none;
  }
  strong {
    font-weight: bolder;
    color: firebrick;
    font-size: 20px;
    font-family: 'Work Sans';
  }
  .section-box {
    max-width: 90%;
    display: block;
    color:white;
    background-color:tomato;
    border-style: groove;
    border-color: #e2d5c0;
    border-width: 5px;
    padding: 40px;
    padding-bottom: 50px;
    margin: 0 auto;
    margin-bottom: 50px;
    overflow: auto;
    border-radius: 25px;
    font-family: "Verdana", sans-serif;
  }