h1{
  text-align: center;
}
/* fit-content helps me to center the animation of the images, but I could only have one image per a line. */
/* If I don't use fit-content then the image animates to move to the left, but if I use fit-content I can't adjust the position of the image as I wish. */
.animationHeartbeat{
    animation: heartbeat;
    width:fit-content;
    margin: 10px auto 10px auto ;
    transform-origin: center center;
  }

  @keyframes heartbeat {
    from {
        transform: scale(1);
        animation-timing-function:ease-out;
    }
    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }
    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }
    33%{
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }
  }
.animationHeartbeat:hover{
	-webkit-animation: heartbeat 2s ease-in-out infinite both;
	        animation: heartbeat 2s ease-in-out infinite both;
  }